<div class="jumbotron">
    <h1 class="display-4">Get started!</h1>
    <h1 class="display-8">How It works ...</h1>
    <p class="lead-2">It is a crowdsourcing story telling service. People create stories together, which go to different directions.</p>
    <p class="lead-2">An author can start writing an story. When the story is published, and others read it, it can go to different directions as readers have different mindsets and ambitions.</p>
    <p class="lead-2">We try to provide a platform for crowdsource story telling. everyone can pick a story, read it and fork it from any point when there is a better way to change it.</p>


    <h1 class="display-8">Reputation mechanism</h1>
    <p class="lead-2">User can earn point based on their activities by creating and promoting stories. Reputation mechanism follow table below to give points to users:</p>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Receiving Points</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <th scope="row">Create a story</th>
            <td>5</td>
        </tr>
        <tr>
            <th scope="row">Fork existing story</th>
            <td>3</td>
        </tr>
        <tr>
            <th scope="row">Get like</th>
            <td>3</td>
        </tr>
        <tr>
            <th scope="row">Get Favorite</th>
            <td>1</td>
        </tr>
        </tbody>
    </table>

    <h1 class="display-8">Notification system</h1>
    <p class="lead-2">Users receive notifications for scripts which are created or favorited by them. Table below shows when a user receive a notification:</p>

    <h1 class="display-8">Script license</h1>

    <hr class="my-4">
    <h1 class="display-4">FAQ</h1>
</div>