/* Import Fonts
    ----------------------------------------------------------*/
@font-face {
  font-family: 'proxima nova bold';
  src: url('fonts/Proxima Nova Bold.eot');
  src: url('fonts/proximanova-bold-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/Proxima Nova Bold.woff') format('woff'), url('fonts/Proxima Nova Bold.ttf') format('truetype'), url('fonts/Proxima Nova Bold.svg#proxima_nova_rgbold') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'proxima nova regular';
  src: url('fonts/Proxima Nova Reg.eot');
  src: url('fonts/proximanova-regular-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/Proxima Nova Reg.woff') format('woff'), url('fonts/Proxima Nova Reg.ttf') format('truetype'), url('fonts/Proxima Nova Reg.svg#proxima_nova_rgregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'proxima nova light';
  src: url('fonts/proximanova-light-webfont.woff');
  src: url('fonts/proximanova-light-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/proximanova-light-webfont.woff') format('woff'), url('fonts/Proxima Nova Light.ttf') format('truetype'), url('fonts/Proxima Nova Light.svg#proxima_nova_ltregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Start CSS
    ----------------------------------------------------------*/

.ui.button.my.green {
    background-color: #bbe6bb;
    color: white;
    /*border: 2px solid #4CAF50; /* Green !1!*/
}

.ui.button.my.green:hover {
    background-color: #A4CFA4; /* Green */
    color: white;
}

.ui.label.my.green {
    background-color: #88d388;
    color: #88d388;
}

nav {
    background-color: #bbe6bb;
}

.logo {
    vertical-align: middle;
    height: 35px;
}

.slick-prev:before, .slick-next:before { 
    color:green !important;
}

.slick-prev {
    margin-left: 25px;
    z-index:3;
  }

.slick-next {
margin-right: 25px;
z-index:3;
}

.slick-slide {
    padding-left: 25px;
    padding-right: 25px;
}


.prev {
  display: block;
  position: absolute;
  z-index: 50;
  top:50%;
  transform: translateY(-50%);
  padding:0px !important
}

.next {
  display: block;
  position: absolute;
  right: 0px;
  top:50%;
  transform: translateY(-50%);
  z-index: 50;
  padding:0px !important
}

.ui.basic.segments {
  background: @basicBackground;
  box-shadow: @basicBoxShadow;
  border: @basicBorder;
  border-radius: @basicBorderRadius;
}

.story-container {
     height: 300px !important;
     margin: 20px !important;
 }

.story-container-read {
     height: 300px !important;
     margin-left: 20px !important;
     margin-right: 20px !important;
     margin-top: 0px !important;
     margin-bottom: 0px !important;
 }

.title-ellipsis {
   overflow: hidden;
   text-overflow: ellipsis;
   display: -webkit-box;
   line-height: 19px;     /* fallback */
   max-height: 19px;      /* fallback */
   -webkit-line-clamp: 1; /* number of lines to show */
   -webkit-box-orient: vertical;
   font-weight: bold;
   font-family: "proxima nova bold", "Helvetica Neue", Helvetica, Arial, sans-serif;
   color: darkgreen
}

.text-ellipsis {
   overflow: hidden;
   text-overflow: ellipsis;
   display: -webkit-box;
   line-height: 19px;     /* fallback */
   max-height: 155px;      /* fallback */
   -webkit-line-clamp: 8; /* number of lines to show */
   -webkit-box-orient: vertical;
   font-family: "proxima nova light", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.show-label {
    margin-left: 20px;
    margin-top: 20px;
}

.seen-heart {
    vertical-align: bottom
}

.item-hide {
    display: none
}

.item-slickcarousel {
    display: block
}

#body {
    margin-top: 60px;
}

#footer {
    min-height: 100px;
}

.boxsizingBorder {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}
